header, nav, main, section, aside{
  margin: auto;
  width: 480px;
  border: 1px solid black;
}

nav, main, section, aside {
  border-top: none;
}

header {
  height: 75px;
}

nav {
  height: 150px;

}

main {
  height: 250px;
}

section {
  height: 500px;
}

aside {
  height: 80px;
}