ul, li{
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style-type: none;
  display: inline-block;
}

main li {
  height: 125px;
  width: 100%;
}

main li:first-of-type {
  border-bottom: 1px solid black;
}

section li {
  height: 50%;
  width: 236px;
}

section li:first-child {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 2px;
}

section li:last-child {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding-left: 2px;
}

header p{
  padding-top: 30px;
}

nav p{
  padding-top: 70px;
}

main p{
  padding-top: 60px;
}

section p{
  padding-top: 120px;
}

aside p{
  padding-top: 30px;
}

@media only screen and (min-width: 768px) {
  main li {
    width: 377px;
    height: 100%;
  }

  main li:first-of-type {
    border-bottom: none;
    border-right: 1px solid black;
  }

  section li{
   height: 100%;
   width: 184px;
   border-right: 1px solid black;
  }

  section li:first-child {
    border-bottom: none;
    padding: none;
  }
  
  section li:last-child {
    border: none;
    padding: none;
  }

  header p{
    padding-top: 40px;
  }
  
  nav p{
    padding-top: 280px;
  }
  
  main p{
    padding-top: 90px;
  }
  
  section p{
    padding-top: 130px;
  }
  
  aside p{
    padding-top: 70px;
  }
}